on: push
name: main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: install-yq
      uses: weibeld/install-yq@65eb329fa05837e8b8a8e1cc6f9637b6365969cb
      with:
        version: 3.3.10
    - name: validate-yq-installation
      run: yq --version
