on: push
name: main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: weibeld/install-yq@dev
      id: install-yq
    - run: echo "${{ toJson(steps.install-yq.outputs) }}"
    - run: yq --version
    - run: env | sort
