on: push
name: main
jobs:
  main:
    runs-on: macos-latest
    steps:
    - name: install-yq
      uses: weibeld/install-yq@2542e3f12d14a456d921a45a0501874f346cb75b
      with:
        version: 3.3.0
    - name: validate-yq-installation
      run: yq --version
