on: push
name: main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: install-yq
      uses: weibeld/install-yq@2e56fe9bd94e6e6abbbd71ef17c18de131ae0b94
      with:
        version: 3.3.10
    - name: validate-yq-installation
      run: yq --version
