on: push
name: main
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - name: install-yq
      uses: weibeld/install-yq@77f7cae0ef17c3cdeb425f0d9d75072e715ca1d7
    - name: validate-yq-installation
      run: yq --version
