on: push
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - id: foo
      uses: weibeld/test-action@v1.1.7
      with:
        who-to-greet: Daniel
    - name: print-random-number
      run: echo "random-number ${{ steps.foo.outputs.random-number }}"
